<table>
  <tr>
    <th>
      Approve/Unapprove
    </th>
    <th>
      Name
    </th>
    <th>Approved</th>
    <th>
      Location
    </th>
    <th>Price</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Url</th>
    <th>Image</th>
    <th>DayOn</th>
    <th>DayEnd</th>
  </tr>
  <div id="json-events">
    <% @eventsToday.each do |event| %>
    <tr>
      <td>
        <%= check_box_tag(:event, "#{event.id}") %>
      </td>
    <%= simple_form_for event, url: api_v1_event_path(event), method: :put, remote: true do |f|%>
      <td>
        <%= f.input :name, label: false, class: 'check-box' %>
      </td>
      <td> <%= event.approved %> </td>
      <td><%= f.input :location, label: false %></td>
      <td><%= f.input :price, label: false %></td>
      <td><%= f.input :latitude, label: false %></td>
      <td><%= f.input :longitude, label: false %></td>
      <td><a href="#{event.url}"> <%= event.url %></a><%= f.input :url, label: false %></td>
      <td class="event-image"><%= f.input :image, label: false %><%= image_tag event.image %></td>
      <td><%= f.input :dayOn, label: false %></td>
      <td><%= f.input :dayEnd, label: false %></td>
      <td> <%= f.button :submit, 'Edit Event' %> </td>
    <% end %>
    </tr>
    <% end %>
  </div>
</table>