<table>
  <tr>
    <th>
      Approve/Unapprove
    </th>
    <th>
      Name
    </th>
    <th>Approved</th>
    <th>
      Location
    </th>
    <th>Price</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Url</th>
    <th>Image</th>
    <th>DayOn</th>
    <th>DayEnd</th>
  </tr>
  <div id="json-events">
    <% @eventsToday.each do |event| %>
    <td>
  <%= check_box_tag(:event, "#{event.id}") %>
</td>
<td>
  <%= label_tag(:event, "#{event.name}", class: 'check-box') %>
</td>
    <tr>
    <% simple_form_for edit_api_v1_event_url(event), remote: true do |f|%>
      <td><%= f.input :location %></td>
      <td><%= f.input :price %></td>
      <td><%= f.input :latitude %></td>
      <td><%= f.input :longitude %></td>
      <td><%= f.input :url %></td>
      <td><%= f.input :image %></td>
      <td><%= f.input :dayOn %></td>
      <td><%= f.input :dayEnd %></td>
    <% end %>
    </tr>
    <% end %>
  </div>
</table>