<table>
  <tr>
    <th>
      Approve/Unapprove
    </th>
    <th>
      Name
    </th>
    <th>Image</th>
    <th>Approved</th>
    <th>
      Description
    </th>
    <th>
      Location
    </th>
    <th>Price</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Url</th>
    <th>DayOn</th>
    <th>DayEnd</th>
    <th>Edit Event</th>
  </tr>
  <div id="json-events">
    <% @eventsToday.each do |event| %>
    <tr class='edited <%= event.id %>'>
      <td>
        <%= check_box_tag(:event, "#{event.id}") %>
      </td>
    <%= simple_form_for event, url: api_v1_event_path(event), method: :put, remote: true do |f|%>
      <td class="event-name">
        <%= f.input :name, label: false, class: 'check-box' %>
      </td>
      <td class="event-image"><%= f.input :image, label: false %><%= image_tag event.image %></td>
      <td class="event-approved"> <%= event.approved %> </td>
      <td class="event-desc"><%= f.input :desc, label: false %></td>
      <td class="event-location"><%= f.input :location, label: false %></td>
      <td class="event-price"><%= f.input :price, label: false %></td>
      <td class="event-latitude"><%= f.input :latitude, label: false %></td>
      <td class="event-longitude"><%= f.input :longitude, label: false %></td>
      <td class="event-url"><a href="<%= event.url %>"> <%= event.url %></a><%= f.input :url, label: false %></td>
      <td class="event-dayOn"><%= f.input :dayOn, label: false %></td>
      <td class="event-dayEnd"><%= f.input :dayEnd, label: false %></td>
      <td class="event-submit"> <%= f.button :submit, 'Edit Event' %> </td>
    <% end %>
    </tr>
    <% end %>
  </div>
</table>